$font-family: "Roboto-Thin";
$content-width: 737px;
$container-offset: 15px;
$container-width: $content-width + ($container-offset * 2);

$bg-color-primary: #fff;
$font-color-primary: #2a2929;

// breakpoints------
$big-laptop: 1200px;